*{
  box-sizing: border-box;
}
 body{
  background-color: #f8fafb;
 }
 .container{
  padding: 10px;
  
  max-width: fit-content;
  margin:50px auto;
 }
 .btn{
  border: none;
  padding:7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
 }
 .btn-add{
  background: #194064;
  color: white;
 }
 .addContainer{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .addContainer form{
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  border-radius: 5px;
  }
  .addContainer form label{
     font-size: 18px;
  }
  .addContainer form input{
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .addContainer form button{
    background-color: royalblue;
    color: white;
    font-weight: 500;
    margin-top: 20px;
  }
  .addContainer form .close-btn{
    margin-left: auto;
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: 20px;
    border: 1px solid #000;
    cursor: pointer;
  }
  .tableContainer{
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .addContainer table{
   
  }

  .tableContainer table thead tr{
    background-color: #f0eaea;
  }
  .tableContainer table thead tr th,
  .tableContainer table tbody tr td{
    min-width: 200px;
    padding: 7px;
    text-align: center;
  }
  .tableContainer table tbody tr td{
    border: 1px solid #c9c5c2
  }
  .tableContainer table tbody tr td{
    border-bottom: 1px solid #c9c5c2;
  }
  .btn-edit,
  .btn-delete{
    font-size: 16px;
    padding: 5px 10px;
    margin: 0px 10px
  }
  .btn-edit{
    background-color: #f3f9b0;
  }
  .btn-delete{
    background-color: rgb(212, 85, 85);
    color: #f0eaea;
  }

  .search {
    height: 38px;
    width: 400px;
    border-radius: 11px;
    border: transparent;
    text-align: center;
    font-size: 18px;
    margin-right: 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.searchForm{
  margin-right: 20%;
}
.searchButton{
  height: 42px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  width:47px;
  border: transparent;
  background-color: rgb(241, 171, 184);
  font-size: 15px;
}
.searchButton:hover{
  height: 42px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  width:47px;
  cursor: pointer;
}
